In [1]:
import os

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
os.getcwd()

'C:\\Hari\\PythonTraining'

In [5]:
os.chdir(r'D:\Inceptez\Preprocessing')

In [6]:
os.getcwd()

'D:\\Inceptez\\Preprocessing'

In [33]:
df=pd.read_csv('auto_tmp.csv')

In [34]:
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [15]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [16]:
obj_col=df.select_dtypes(include=['object'])

In [17]:
obj_col

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

## Total Cars per company

In [18]:
obj_col['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

## Sort cars by price column

In [21]:
Sort_df=df.sort_values(by= 'price').head()

In [22]:
Sort_df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
138,2,83.0,subaru,gas,std,two,hatchback,fwd,front,93.7,...,97,2bbl,3.62,2.36,9.0,69.0,4900.0,31,36,5118.0
18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151.0
50,1,104.0,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68.0,5000.0,30,31,5195.0
150,1,87.0,toyota,gas,std,two,hatchback,fwd,front,95.7,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,35,39,5348.0
76,2,161.0,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,...,92,2bbl,2.97,3.23,9.4,68.0,5500.0,37,41,5389.0

## Expensive Car Company Name

In [23]:
df = df [['make','price']][df.price==df['price'].max()]

In [24]:
df

             make    price
74  mercedes-benz  45400.0

## Each companies highest price car

In [35]:
car_companies=df.groupby('make')
mp=car_companies['make','price'].max()

C:\Users\Hari\AppData\Local\Temp/ipykernel_28504/3928602010.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mp=car_companies['make','price'].max()

In [36]:
mp

                        make    price
make
alfa-romero      alfa-romero  16500.0
audi                    audi  23875.0
bmw                      bmw  41315.0
chevrolet          chevrolet   6575.0
dodge                  dodge  12964.0
honda                  honda  12945.0
isuzu                  isuzu  11048.0
jaguar                jaguar  36000.0
mazda                  mazda  18344.0
mercedes-benz  mercedes-benz  45400.0
mercury              mercury  16503.0
mitsubishi        mitsubishi  14869.0
nissan                nissan  19699.0
peugot                peugot  18150.0
plymouth            plymouth  12764.0
porsche              porsche  37028.0
renault              renault   9895.0
saab                    saab  18620.0
subaru                subaru  11694.0
toyota                toyota  17669.0
volkswagen        volkswagen  13845.0
volvo                  volvo  22625.0

## MCQ's Test

In [43]:
vector=[[1,2],[3,4],[5,6],[7,8],[9,10]]
(x for y in vector for x in y if x%2 ==0)

In [44]:
z=5
x="456"
while z > -1:
    y=x
    if y in ('1','2','3') or len(y) >1:
        break
    x = x+y
    if y in ('4','5','6'):
        continue
    z = z-1
print(z)

5

In [45]:
before =[1,2,3,4,5]
def bar(lst) :
    return lst.append(7)
after =bar(before)

In [47]:
def f():
    yield True

try:
    g = f()
    h = next(g)
    assert h is True
    print("True")
    h=next(g)
    assert h is None
    print("None")
except AssertionError:
    print("Assertion failed")
except GeneratorExit:
    print("Exit")
except StopIteration:
    print("Stop")

True
Stop

In [48]:
i=150
j=300

if((True==False)) and (False in (False,)) == True:
    print(i)
elif (True ==False ) in (False,) ==False:
    print(j)
else:
    print("No arith")

No arith

In [49]:
from string import *
method="METHODS"
def x(methods):
    method =str.swapcase(methods)
    print(("%(method)s" % locals()))
methods=str.swapcase(method[:-1])
x(methods)

METHOD

In [50]:
try:
    foo()
except BaseException:
    print(BaseException)

<class 'BaseException'>

In [51]:
try:
    foo()
except BaseException:
    print(_error_)

NameError: name '_error_' is not defined

In [52]:
try:
    foo()
except BaseException as variable:
    print(variable)

name 'foo' is not defined

In [53]:
try:
    foo()
except BaseException, variable:
    print(variable)

SyntaxError: invalid syntax (Temp/ipykernel_28504/2447230512.py, line 3)

In [54]:
try:
    foo()
except BaseException:
    print(this.exception)

NameError: name 'this' is not defined